<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>MDR Creation</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 50px;
                font-weight: 200;
                margin-bottom: 0;
            }
        </style>
    </head>
    <body>		
        <h1>MDR &nbsp Creation</h1>
		<h1>Mobile  &nbsp Application</h1>
		<br/><br/>
		<div>GMF Aeroasia Tbk.</div>
        <div>Micro Application MDR Mobile Apps</div>
		<div>created by PT.SISI</div>

        <?php if (isset($name)) : ?>
            <h2>Hello <?= htmlspecialchars($name); ?>!</h2>
        <?php else: ?>
            <p>Contact Administrator</a></p>
        <?php endif; ?>
    </body>
</html>
